<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Review</title>
  <link rel="icon" type="image/png" href="/logo.png">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <style media="screen">
    body {
      margin: 0;
    }

    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    .topnav {
      background-color: #24292e;
      overflow: hidden;
      transition: all 1s ease;
    }

    /* Style the links inside the navigation bar */

    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: all 1s ease;
    }

    .topnav ul li a {
      margin-top: -15px;
      display: inline-block;
      transition: all 1s ease;
    }

    .topnav a:hover {}

    .topnav .icon {
      display: none;
    }

    @media screen and (max-width: 890px) {
      .topnav ul li a {
        display: none;
        transition: all 1s ease;
      }
      .topnav a:nth-child(2) {
        display: block;
      }
      .topnav a.icon {
        float: right;
        margin-top: -12px;
        display: block;
      }
    }

    @media screen and (max-width: 890px) {
      .topnav.responsive ul {
        /* position: relative; */
        display: flex;
        flex-direction: column-reverse;
      }

      .topnav ul li {
        margin: 0 auto;
        transition: all 1s ease;
      }

      .topnav .responsive ul li {
        display: block;
      }

      .topnav .responsive ul li a {
        text-align: center;
      }

      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 5px;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive a b {
        padding-left: 15px;
      }

      .topnav .responsive a {
        float: none;
      }
    }

    @media screen and (max-width: 600px) {
      .footer-cols {
        display: flex;
        flex-direction: column;
      }
    }

    .footerlink {
      color: #7583a5 !important;
      font-size: 16px;
      position: relative;
      text-decoration: none;
    }

    .footerlink:hover {
      color: #fff;
    }

    .footerlink:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    .footerlink:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

    p {
      font-family: 'Lato', sans-serif !important;
    }
  </style>
</head>

<body>
  <div class="topnav" id="myTopnav">
    <img src="/logo.png" style="width: 32px;height:25px; float: left; margin-left: 15px; margin-right: -5px; margin-top: 12px;" class="" alt="Logo">
    <a href="/"><b style="font-size: 16px;font-family: 'Lato', sans-serif !important;font-weight: 900;letter-spacing: 3px;white-space: nowrap"> UTOPIAN </b></a>
    <ul>
      <li><a href="https://signup.utopian.io/" style="float: right; margin-left: 8px; font-family: 'Noto Sans', sans-serif !important;margin-right: 10px; letter-spacing: 1px; font-weight: 600; font-size: 15px;">Sign Up</a>
      </li>
      <li><a href="https://join.utopian.io/#about" style="float: right; margin-left: 8px; font-family: 'Noto Sans', sans-serif !important;margin-right: 10px; letter-spacing: 1px; font-weight: 600; font-size: 15px;">About</a>
      </li>
      <li><a href="https://join.utopian.io/investors" style="float: right; margin-left: 8px; font-family: 'Noto Sans', sans-serif !important;margin-right: 10px; letter-spacing: 1px; font-weight: 600; font-size: 15px;">Investors</a>
      </li>
      <li><a href="https://join.utopian.io/owners" style="float: right; margin-left: 8px; font-family: 'Noto Sans', sans-serif !important;margin-right: 10px; letter-spacing: 1px; font-weight: 600; font-size: 15px;">Project Owners</a>
      </li>
      <li><a href="https://join.utopian.io/#contributors" style="float: right; margin-left: 8px; font-family: 'Noto Sans', sans-serif !important;margin-right: 10px; letter-spacing: 1px; font-weight: 600; font-size: 15px;">Contributors</a>
      </li>
    </ul>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  </div>
  <div style="height:15px">

  </div>
  <main class="container">
    <center>
      <h3 style="font-family: 'Noto Sans', sans-serif !important;">Your Review:</h3></center>
    <div class="center-align">
      <% for(var i=0; i<object.length; i++) {%>
        <div class="row">
          <div class="col s12 m12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title"><%= object[i].question %></span>
                <p>
                  <%= object[i].answer %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </div>
  </main>
  <div id="footer" class="text-light" style="background: #24292e;">
    <div class="container">
      <h2 style="letter-spacing: 1px; color: white; font-weight: 500; line-height: 1.2; font-size: 32px; font-family: 'Lato', sans-serif !important; margin-bottom: 15px; margin-top: 50px;">Let's make Open Source Economy a reality. Together.</h2>
      <hr style="width: 35px; border: 1px solid #4786ff; margin-left: 0; margin-bottom: 35px">
      <div class="row mt-5 pb-4 footer-cols" style="display:flex; margin-bottom: 50px">
        <div class="s6 mb-4" style="padding-right: 15px">
          <a href="https://join.utopian.io" target="_blank"><b style="font-weight: bolder;color: #4786ff; font-size: 14.5px; letter-spacing: 0.2px" line-height: 1.2>Get started as a contributor</b></a><br> <span style="color: #f8f9fa!important;">Start contributing to Open Source projects and receive rewards for your contributions.</span>
        </div>
        <div class="s6 mb-4" style="padding-right: 15px;">
          <a href="https://join.utopian.io" target="_blank"><b style="font-weight: bolder;color: #4786ff; font-size: 14.5px; letter-spacing: 0.2px" line-height: 1.2>Submit your project to Utopian</b></a><br> <span style="color: #f8f9fa!important">Get the attention of valuable contributors and use the power of collective intelligence to develop your project.</span>
        </div>
      </div>
      <hr style="border: 1px solid rgba(0,0,0,0.1); background: #363d4d;">
      <div class="row py-4" style="display: flex;margin: 25px 0;">
        <div class="col-md-1 footer-logo" style="width: 7%; margin-top: 12px">
          <img src="/logo.png" class="d-inline-block" style="width: 32px;height:25px" alt="Logo">
        </div>
        <div class="col" style="width: 78%">
          <ul class="nav" style="display: flex">
            <li class="nav-item">
							<a class="nav-link footerlink" href="https://join.utopian.io/privacy">Privacy Policy</a> <span style="color: white; font-size: 12px">&nbsp;|&nbsp;</span>
						</li>
						<li class="nav-item">
							<a class="nav-link footerlink" href="https://join.utopian.io/tos">Terms of Service</a> <span style="color: white; font-size: 12px">&nbsp;|&nbsp;</span>
						</li>
            <li class="nav-item">
              <a class="nav-link footerlink" href="https://join.utopian.io/cookies">Cookie Policy</a> <span style="color: white; font-size: 12px">&nbsp;|&nbsp;</span>
            </li>
            <li class="nav-item">
              <a class="nav-link footerlink" href="https://steemit.com/@utopian-io">Blog</a> <span style="color: white; font-size: 12px">&nbsp;|&nbsp;</span>
            </li>
            <li class="nav-item">
              <a class="nav-link footerlink" href="https://join.utopian.io/rules">Rules</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 social-icons text-right d-flex align-items-end" style="width: 25%; text-align: right; margin-top: 5px">
          <div class="ml-auto">
            <a href="https://www.facebook.com/utopian.io/" style="padding-left: 12px;" target="_blank">
	                        <svg style="width:32px;height:32px" viewBox="0 0 24 24">
	                            <path fill="#7583a5" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
	                        </svg>
	                    </a>
            <a href="https://twitter.com/utopian_io" style="padding-left: 12px;" target="_blank">
	                        <svg style="width:32px;height:32px" viewBox="0 0 24 24">
	                            <path fill="#7583a5" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
	                        </svg>
	                    </a>
            <a href="https://github.com/utopian-io" style="padding-left: 12px;" target="_blank">
	                        <svg style="width:32px;height:32px" viewBox="0 0 24 24">
	                            <path fill="#7583a5" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
	                        </svg>
	                    </a>
          </div>
        </div>
      </div>
      <hr style="border: 1px solid rgba(0,0,0,0.1); background: #363d4d;">
      <div class="row pt-4">
        <div class="col text-center disclaimer" style="color: #7583a5 !important;opacity: 0.5; font-size: 12px; text-align: center; margin: 25px 0;">
          ALL INFORMATION ON UTOPIAN AND PROVIDED FROM OR THROUGH USE OF ITS SERVICES DOES NOT CONSTITUTE INVESTMENT ADVICE OR RECOMMENDATION. USERS SHOULD NOT MAKE ANY DECISION, FINANCIAL OR OTHERWISE, WITHOUT UNDERTAKING INDEPENDENT DUE DILIGENCE AND SEEKING
          PROFESSIONAL FINANCIAL ADVICE.
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script type="text/javascript">
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
</body>

</html>
